<section id="purchase-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 purchase-title pull-left">
				<!-- <%= @sku %> -->
					<h2 class="pull-left">You have selected <%= @sku['device'] %> - <%= @sku['size']%> GB</h2> <a href="purchase-page-1.html"><button class="pull-left hvr-bounce-to-right">Change Model</button></a>
				</div>
				<div class="col-lg-4 purchase-help pull-right">
					<p class="social-share-wrap">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
					
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="ashikur1993">Tweet</a>
					</p>
					<p>Do you have any questions? <a href="#">Help Center</a></p>
				</div>
			</div>
			<div class="row item-description">
				<!-- <div class="col-lg-2">
					<div class="single-memory active">
						<img src="img/choose-memory/1.png" alt="">
						<h4>iPhone 5</h4>
						<span class="memory-size">
							16 GB
						</span>
					</div>
					<a href="#"><button class="hvr-bounce-to-right">Edit Details</button></a>
				</div>
				<div class="col-lg-6">
					<p>
					<b>Size:</b> 12x 16 cm <br>
					<b>Memory:</b> 16 GB <br>
					<b>Details:</b> Something here <br>
					<b>Info:</b> Something here</p>
				</div> -->
				<div class="row purchase-table">
				<div class="col-lg-3 active">
					<div class="box">
						<div class="amount">
							<i class="fa fa-dollar"><%= @sku['good'] %></i>								
						</div>
						<p>This is how much you will get if you ship your phone.</p>
						<a href="checkout-page.html"><button class="hvr-bounce-to-right">Proceed Checkout</button></a>
					</div>
				</div>
				</div>
			</div>									
		</div>
	</section>