	<section id="slider" class="slider">
				<!-- carousel item -->
				<div class="item">
                <img src="img/slider/1.jpg">
					<div class="carousel-caption">
						<div class="tb">
							<div class="tb-cell">
								<h1 class="title">Check out the latest <b>smartphones</b></h1>
								<h2>Buy or sell the perfect for your needs</h2>
								<button>Try it out now</button>
								<img src="img/slider/caption-image-1.png" alt="">
							</div>
						</div>
					</div>					
				</div><!-- carousel item -->

				<!-- carousel item -->
				<div class="item">
                <img src="img/slider/1.jpg">
					<div class="carousel-caption">
						<div class="tb">
							<div class="tb-cell">
								<h1 class="title">Check out the latest <b>smartphones</b></h1>
								<h2>Buy or sell the perfect for your needs</h2>
								<button>Try it out now</button>
								<img src="img/slider/caption-image-1.png" alt="">
							</div>
						</div>
					</div>					
				</div><!-- carousel item -->

				<!-- carousel item -->
				<div class="item">
                <img src="img/slider/1.jpg">
					<div class="carousel-caption">
						<div class="tb">
							<div class="tb-cell">
								<h1 class="title">Check out the latest <b>smartphones</b></h1>
								<h2>Buy or sell the perfect for your needs</h2>
								<button>Try it out now</button>
								<img src="img/slider/caption-image-1.png" alt="">
							</div>
						</div>
					</div>					
				</div><!-- carousel item -->
			
    </section><!--/#carousel-wrapper--> 


	<!-- #service -->
	<section id="service">
		<div class="container">
			<div class="sec-title">
				<h1>We are experts and we know what you need</h1>
				<p>Take a look at our services and features</p>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="single-service wow zoomIn">
						<div class="single-service-bounce-bg">
							<img src="img/service/icon/1.png" alt="">
							<h4>Userfriendly Interface</h4>
							<p>Lorem ipsum dolor sit amet, cons-<br>etetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="single-service wow zoomIn" data-wow-delay="1s">
						<div class="single-service-bounce-bg">
							<img src="img/service/icon/2.png" alt="">
							<h4>Money Back Guarantee</h4>
							<p>Lorem ipsum dolor sit amet, cons-<br>etetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="single-service wow zoomIn" data-wow-delay="1.5s">
						<div class="single-service-bounce-bg">
							<img src="img/service/icon/3.png" alt="">
							<h4>Customer Support</h4>
							<p>Lorem ipsum dolor sit amet, cons-<br>etetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="single-service wow zoomIn" data-wow-delay="2s">
						<div class="single-service-bounce-bg">
							<img src="img/service/icon/4.png" alt="">
							<h4>Upload & Sell Phones</h4>
							<p>Lorem ipsum dolor sit amet, cons-<br>etetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- /#service -->
	
	<!-- #select-phone -->
	<section id="select-phone">
		<div class="container">
			<div class="sec-title">
				<h1>Select the perfect device for your own</h1>
				<p>Get the best prices in town</p>
			</div>
			<div class="row">
				<div class="col-lg-4 wow zoomIn">
					<img src="img/select-phone/1.png" alt="">
					<a href="#">Select iPad</a>
					<p>Some details go here if you want </p>
				</div>
				<div class="col-lg-4 wow zoomIn" data-wow-delay="1s">
					<div class="top-sell"></div>
					<img src="img/select-phone/2.png" class="img-small" alt="">
					<a href="#">Select iPhone</a>
					<p>Some details go here if you want </p>
				</div>
				<div class="col-lg-4 wow zoomIn" data-wow-delay="2s">
					<img src="img/select-phone/3.png" class="img-small" alt="">
					<a href="#">Select iPad</a>
					<p>Some details go here if you want </p>
				</div>
			</div>
		</div>
	</section> <!-- /#select-phone -->

	<!-- <section id="testimonials">
		<div class="container sec-title">
			<h1>Select the perfect device for your own</h1>
			<p>Get the best prices in town</p>
		</div>
		<div class="overlay">
			<div class="container">
				<div class="owl-thumbs" data-slider-id="1">
				    <div class="owl-thumb-item wow fadeIn">
				    	<img src="img/testimonials/clients/1.jpg" alt="">
				    </div>
				    <div class="owl-thumb-item wow fadeIn" data-wow-delay=".5s">
				    	<img src="img/testimonials/clients/2.jpg" alt="">
				    </div>
				    <div class="owl-thumb-item wow fadeIn" data-wow-delay="1s">
				    	<img src="img/testimonials/clients/3.jpg" alt="">
				    </div>
				    <div class="owl-thumb-item wow fadeIn" data-wow-delay="1.5s">
				    	<img src="img/testimonials/clients/4.jpg" alt="">
				    </div>
				    <div class="owl-thumb-item wow fadeIn" data-wow-delay="2s">
				    	<img src="img/testimonials/clients/5.jpg" alt="">
				    </div>
				</div>
				<div class="col-lg-12">
					<div class="owl-carousel owl-theme" data-slider-id="1" id="testimonial-content">
						<div class="item">
							<div class="carousel-wrap">
								<div class="client-wrap">
									<p>Vannessa Wilkings - CEO 
										<span class="star-mark">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
									</p>
								</div>
								<div class="content-wrap">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="carousel-wrap">
								<div class="client-wrap">
									<p>Vannessa Wilkings - CEO 
										<span class="star-mark">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
									</p>
								</div>
								<div class="content-wrap">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="carousel-wrap">
								<div class="client-wrap">
									<p>Vannessa Wilkings - CEO 
										<span class="star-mark">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
									</p>
								</div>
								<div class="content-wrap">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="carousel-wrap">
								<div class="client-wrap">
									<p>Vannessa Wilkings - CEO 
										<span class="star-mark">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
									</p>
								</div>
								<div class="content-wrap">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="carousel-wrap">
								<div class="client-wrap">
									<p>Vannessa Wilkings - CEO 
										<span class="star-mark">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
									</p>
								</div>
								<div class="content-wrap">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<!-- #client-logo -->
	<!-- <section id="client-logo">
		<div class="container">
			<div class="owl-carousel owl-theme" id="client-logo-carousel">
				<div class="item">
					<a href="#"><img src="img/client-logo/1.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/2.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/3.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/4.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/5.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/1.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/2.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/3.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/4.png" alt=""></a>
				</div>
				<div class="item">
					<a href="#"><img src="img/client-logo/5.png" alt=""></a>
				</div>
			</div>
		</div>
	</section>  --><!-- /#client-logo -->
