<div ng-controller="maincontroller">
<section id="purchase-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 purchase-title pull-left">
					<h2>Sell your phone with Gadgetexpress</h2>
				</div>
				<div class="col-lg-4 purchase-help pull-right">
					<p class="social-share-wrap">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
					
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="ashikur1993">Tweet</a>
					</p>
					<p>Do you have any questions? <a href="#">Help Center</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p><span>1</span> Choose the perfect device for you.</p>
					<div class="choose-phone clearfix">
						<span ng-repeat="device in devices">
							<div class="single-phone">
								<img ng-src='<%=asset_path("{{device[1]}}")%>' alt="" ng-click="setDevice(device[2])">
								<h4>{{device[0]}}</h4>
							</div>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p><span>2</span> Select your carrier to see how much your iPhone 5 is worth</p>
					<div class="choose-carrier clearfix">
						<span ng-repeat="carrier in carriers">
							<div class="single-carrier">
								<img ng-src='<%=asset_path("{{carrier[1]}}")%>' alt="" ng-click="setCarrier(carrier[0])">
							</div>
						</span>
					</div>						
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p><span>3</span> Select memory of your device</p>
					<div class="choose-memory clearfix">
						<!-- <div class="single-memory">
							<img src="img/choose-memory/1.png" alt="">
							<h4>iPhone 5</h4>
							<span class="memory-size">
								16 GB
							</span>
						</div> -->
						<span ng-repeat="size in device_sizes">
							<div class="col-lg-2 submit">
								<button class="hvr-bounce-to-right">{{size}} GB</button>
							</div>							
						</span>					
					</div>
				</div>
			</div>
			<div class="row condition">
				<div class="col-lg-12">
					<p><span>4</span>What shape is it in?</p>
					<span ng-repeat="condition in types">
					<div class="col-lg-4">
						<div class="col-lg-2">
							<i class="fa pull-left"></i>
						</div>
						<div class=" col-lg-10 description pull-left">
							<h4>{{condition[0]}}</h4>
							<p>{{condition[1]}}</p>
						</div>
					</div>
					</span>
				</div>	
			</div>
			<div class="row">
				<div class="col-lg-3 submit">
					<button class="hvr-bounce-to-right" ng-click="offer()">Get Offer<i class="fa fa-angle-right"></i></button>
				</div>
			</div>
		</div>
	</section>
</div>	