<section id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<br/>
				<h2>Who we are and what we do?</h2>
				<p>Gadgets Express is focused on the re-purposing of old electronics. Rather than sending used and old electronics over seas, we give them a second life cycle by finding new homes for them, so that once again they can bring joy and happiness into another users life.</p><p>None of the products we buy end up in a land fill. We repair what can be repaired and harvest parts from the non working units. Doing this allows us to be competitive in the market and allows us to pay more for your device!</p><p>So give us a try! We would love to earn your business and put some money in your pocket!</p>
			</div>
			<div class="col-lg-3">
				<h2>Take a look at our services</h2>
				<ul>
					<li><i class="fa fa-check"></i> Sell iPhone</li>
					<li><i class="fa fa-check"></i> Sell iPad</li>
					<li><i class="fa fa-check"></i> Sell iPod</li>
					<li><i class="fa fa-check"></i> Buy Device (coming soon)</li>
				</ul>
			</div>
		</div>
	</div>
</section>