<section id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<br/>
				<h2>Who we are and what we do?</h2>
				<p> <b>Kunaal Multani</b>, started borrowing broken devices from his friends as part of hobby to fix them. Soon, he became good at it and taking in more devices. His hobby project has turned into his passion of fixing devices and thus started "thegadgetsexpress". He has a small talented team who loves gadgets, buy used gadgets fix it and sell it to other people. Be sure to get the best market price of your used device. If you have any issues, with his services, reach out to him at xxx.</p>
			</div>
			<div class="col-lg-3">
				<h2>Take a look at our services</h2>
				<ul>
					<li><i class="fa fa-check"></i> Sell Iphone</li>
					<li><i class="fa fa-check"></i> Sell Ipad</li>
					<li><i class="fa fa-check"></i> Sell Ipod</li>
					<li><i class="fa fa-check"></i> Buy Device (coming soon)</li>
				</ul>
			</div>
		</div>
	</div>
</section>