<div ng-controller="checkoutcntrl">
<section id="purchase-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 purchase-title pull-left">
				<h2 class="pull-left">Please choose a payment method</h2> <a href="purchase-page-3.html"><button class="pull-left hvr-bounce-to-right">Go Back</button></a>
			</div>
			<div class="col-lg-4 purchase-help pull-right">
				<p class="social-share-wrap">
					<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
				
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="ashikur1993">Tweet</a>
				</p>
				<p>Do you have any questions? <a href="#">Help Center</a></p>
			</div>
		</div>
		<div class="row checkout-box">
			<div class="col-lg-8">
				<div class="row gateway-selector">
							<div class="col-lg-2">
								<input type="radio" id="checkcard" name="gateway-selector" value="check" ng-model= "address.payment"  ng-change="selectPayment('check')">
								<label class="payment-type" for="cheque"><img src="img/gateway-img/1.png" alt=""></label>
							</div>
							<div class="col-lg-2">
								<input type="radio" name="gateway-selector" id="paypal" value="paypal" 
								ng-model= "address.payment" ng-change="selectPayment('paypal')">
								<label class="payment-type" for="paypal"><img src="img/gateway-img/2.png" alt=""></label>
							</div>
					</div>				
					<form name="shipping">
						<div ng-show="checkSelected"><div class="row form-box">
							<div class="col-lg-12">
								<h3>Please provide the address you'd like your check send to</h3>
							</div>
							<div class="col-lg-6">
								<p>
									<label>Payable to:</label>
									<input type="text" placeholder="Enter First Name" ng-model="address.fname" name="fname" required="">
								    <!-- /<div ng-show="shipping.$submitted || shipping.fname.$touched"> -->
									<span ng-show="shipping.fname.$error.required">Enter First Name.</span>
									<!-- </div> -->
								</p>
							</div>	
							<div class="col-lg-6">
								<p>
									<label>&nbsp;</label>
									<input type="text" placeholder="Enter Last Name" ng-model="address.lname" required="" name="lname">
									<span ng-show="shipping.lname.$error.required">Enter Last Name.</span>
								</p>
							</div>
							<div class="col-lg-6">	
								<p>
									<label>Address Line 1:</label>
									<input type="text" name="addr1" placeholder="Enter Your Address" ng-model="address.mainaddress" required="">
									<span ng-show="shipping.addr1.$error.required">Enter Address.</span>
								</p>
							</div>
							
							<div class="col-lg-6">	
								<p>
									<label>Address Line 2 (Optional):</label>
									<input type="text" ng-model="address.address1">
									<span ng-show="false">Enter Address.</span>
								</p>
							</div>
							</div> <!-- row -->
							<div class="row form-box">
							<div class="col-lg-4">
								<p>
									<label>City:</label>
									<input type="text" name="city" placeholder="City" ng-model="address.city" required="">
									<span ng-show="shipping.city.$error.required">Enter City.</span>
								</p>
							</div>
							<div class="col-lg-4">
								<p>
									<label>State:</label>									
									<input type="text" name="state" placeholder="State" ng-model="address.state" required="">
									<span ng-show="shipping.state.$error.required">Enter the State.</span>
								</p>
							</div>
							<div class="col-lg-4">
								<p>
									<label>Zip:</label>
									<input type="text" name="zip" placeholder="Enter Zip" ng-model="address.zip" required="">
									<span ng-show="shipping.zip.$error.required">Enter Zipcode.</span>
								</p>
							</div>
							</div>
							<div class="row">
							
							<div class="col-lg-6">
								<p>
									<label>Phone (Optional):</label>
									<input type="text" placeholder="Enter Phone" ng-model="address.phone" required="">
								</p>
							</div>
							</div>
						</div></div>
						<div ng-hide="checkSelected">
							<div class="row form-box">
								<div class="col-lg-12">
									<h3>Enter your email address associated with your PayPal account</h3>
								</div>
								<div class="col-lg-6">
									<p>
										<label>Email address:</label>
										<input type="text" placeholder="Enter Email Address" ng-model="address.paypalemail">
									</p>
								</div>
								<div class="col-lg-6">							
									<p>
										<label>Confirm Email Address:</label>
										<input type="text" placeholder="Confirm Email Address">
									</p>
								</div>
							</div>
						</div> <!-- div of paypal -->
						<div class="col-lg-6 pull-right">
							<p>
								<input type="submit" class="hvr-bounce-to-right" ng-click="saveAddr(address)">Continue <i class="fa fa-angle-right"></i></input>
							</p>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
</div>