<div ng-controller="ipodcontroller">
<section id="purchase-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 purchase-title pull-left">
					<h2>Sell your phone with TheGadgetsexpress</h2>
				</div>
				<div class="col-lg-4 purchase-help pull-right">
					<!-- <p class="social-share-wrap">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
					
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="ashikur1993">Tweet</a>
					</p>
					<p>Do you have any questions? <a href="#">Help Center</a></p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p ng-class="{'active': selectDevice}">
					<span class="fa ng-class:{'fa-check active' : selectDevice}">1</span> Select the device</p>
					<div class="choose-phone clearfix">
						<span ng-repeat="device in devices">
							{{$parent.selected}}
							<div class="single-phone ng-class:{'active' : $index==selectedDeviceIndex}">
								<img ng-src='<%=asset_path("{{device[1]}}")%>' alt="" ng-click="setDevice(device[2], $index)">
								<h4>{{device[0]}}</h4>
							</div>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p ng-class="{'active': select_device_model}">
					<span class="fa ng-class:{'fa-check active' : select_device_model}">2</span> Select the model</p>
					<div class="choose-memory  clearfix">						
						<span ng-repeat="model in device_models">
							<div class="col-lg-2 submit">
								<div class="ng-class:{'active' : $index==selected_device_model_index}"><button class="hvr-bounce-to-right" ng-click="setDeviceModel(model[1], $index)">{{model[0]}}</button></div> 
							</div>
						</span>					
					</div>
				</div>
			</div>			
			<div class="row">
				<div class="col-lg-12">
					<p ng-class="{'active': selectMemory}">
					<span class="fa ng-class:{'fa-check active' : selectMemory}">3</span> Select memory of the device</p>
					<div class="choose-memory clearfix">						
						<span ng-repeat="size in device_sizes">
							<div class="col-lg-2 submit">
								<div class="ng-class:{'active' : $index==selectedMemoryIndex}"><button class="hvr-bounce-to-right" ng-click="setSize(size, $index)">{{size}} GB</button></div>
							</div>							
						</span>					
					</div>
				</div>
			</div>
			<div class="row condition">
				<div class="col-lg-12">
					<p ng-class="{'active': selectCondition}"><span class="fa ng-class:{'fa-check active' : selectCondition}">4</span>What condition is it in?</p>
					<span ng-repeat="condition in types">
					<div class="col-lg-4 ng-class:{'active': $index==selectedConditionIndex}" ng-click="setCondition(condition[2], $index)">
						<div class="col-lg-2">
							<i class="fa fa-pull-left ng-class:{'fa-check active' : $index==selectedConditionIndex}"></i>
						</div>
						<div class="col-lg-10 description pull-left">
							<h4>{{condition[0]}}</h4>
							<p>{{condition[1]}}</p>
						</div>
					</div>
					</span>
				</div>	
			</div>
			<div class="row">
				<div class="col-lg-3 submit">
					<button class="hvr-bounce-to-right" ng-click="offer()">Get Offer<i class="fa fa-angle-right"></i></button>
				</div>
			</div>
		</div>
	</section>
</div>	